<app-header></app-header>
<div class="main_section">
  <div class="sidebar">
    <div class="main_menu">
      <h4>MENU</h4>
    </div>
    <div class="menu_home ">
      <div class="menu_item">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <span class="material-icons">
            home
          </span>
           <span translate>Home</span>
        
        </a>
       
      </div>
     
    </div>
    <div class="menu_user">
      <div class="menu_item ">
        <div> <a class="nav-item nav-link text-uppercase" routerLink="/users" routerLinkActive="active">
            <span class="material-icons">
              person_3
            </span>
             <span translate>Users</span>
          </a> </div>
    
         


      </div>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>